.archive__item-teaser {
  margin-top: 0.8em;
  margin-bottom: 2em;
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.archive__item-title {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.1em
}

.small-text {
  font-size: 0.7em;
}

.archive__subtitle {
  font-size: 1.5em;
}
