.archive__item-teaser {
  margin-bottom: 1em;
  max-width: 300px;
  max-height: 200px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
