.archive__item-teaser {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 345px;
  max-height: 230px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.archive__item-title {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.2em
}

.small-text {
  font-size: 0.7em;
}
