.archive__item-teaser {
  margin-bottom: 1em;
  max-width: 345px;
  max-height: 230px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
