---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}'; // skin
@import 'minimal-mistakes'; // main partials
@import 'custom';

.author__urls-wrapper {
  display: none !important;
}

.archive__item-teaser {
  margin-bottom: 1rem;
}

.archive__item-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}